header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    height: 35vh;

    img {
        margin-bottom: 2rem;
    }
}